name: Node.js CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.20.0'
      - run: npm i -g yarn
      - run: yarn
      - run: npm run lint
